/* Font google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style Css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
.container {
    width: 870px;
    margin: 0 auto;
}

/* --------------
Header Style
---------------- */
header {
    background-color: #562EFF;
}
nav {
    width: 870px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40.42px;
    height: 51px;
}
.logo span {
    font-size: 24px;
    margin-left: 16px;
    color: #fff;
}
.menu ul {
    display: flex;
    align-items: center;
}
.menu ul li {
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin-right: 35px;
}
/* Top Style */
.top {
    background-color: #fff;
}
.top-title {
    font-size: 24px;
    color: #562EFF;
    padding: 33px 0 10px 33px
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 33px;
    grid-column-gap: 20px;
}
.player {
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.player h3 {
    font-size: 18px;
    color: #000;
}
hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin: 30px 30px 0;
}
/* Top Blog */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 33px;
    grid-gap: 20px;
}
article {
    display: flex;
}
.thumnails img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}
.blog-info h3 {
    font-size: 20px;
    margin: 0;
}
.blog-info p {
    color: #9F9F9F;
    font-size: 16px;
}
.blog-info span {
    color: #562EFF
}
/* Cours Style css */
#cours {
    background-color: #fff;
}
.course {
    display: flex;
    padding: 0 33px;
    justify-content: space-between;
}
.cours {
    flex-basis: 224px;
}
.cours img {
    width: 224px;
    height: 104px;
}
.cours h3 {
    font-size: 21px;
    margin: 0;
}
.cours p {
    font-size: 14.5px;
    color: #ED6B4F;
}
.cours-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cours-info span {
    color: #A2A2A2;;
    font-size: 13px;
}
.fa-solid {
    font-size: 13px;
    color: #FFC014;
}
.fa-regular {
    font-size: 13px;
    color: rgb(175, 166, 166);
}
.cours-duration {
    font-size: 13px;
    color: #FF4A60;
    border: 1px solid #FF4A60;
    padding: 5px 15px 3px;
    border-radius: 25px;
    background-color: #ff4a5f88;
}
.fa-clock {
    color:#FF4A60;
}